body {
    background-color: lightsteelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslateblue;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.25em;
    padding: 0;
    margin: 0;
    font-weight: 900;
    color: black;
}

h2 { 
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-weight: 200;
}

.card {
    background-color: lightgrey;
    width: 400px;
    text-align: center;
    margin: 75px auto;
    border-radius: 20px;
    box-shadow: lightslategrey 10px 10px 10px;
}

.card .avatar {
    border-radius: 50%;
    width: 25%;
    margin-top: -50px;
    box-shadow: lightslategrey 5px 5px 5px;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 15%;
    display: inline-block;
    padding: 20px 10px;
}

.contacts img:hover {
    opacity: 0.8;
    transition: opacity ease-in-out 0.5s;
}
